# Used by pip to install required python packages
# Usage: pip install -r requirements.txt
MarkupSafe==*
gunicorn==*
ChatterBot==*
chatterbot-corpus===*
cssselect==*
Flask===*
itsdangerous==*
Jinja2==*
lxml==*
requests==*
Unidecode==*
urllib3==*
Werkzeug==*

